.wp-hero {
  overflow: hidden;
}
.wp-hero .wp-jumbotron {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0px;
}
.wp-hero .wp-jumbotron.hero {
  padding-top: 100px;
  padding-bottom: 100px;
}
.wp-hero .wp-jumbotron.cta {
  padding-top: 50px;
  padding-bottom: 50px;
}
.wp-hero .wp-jumbotron .wp-hero-overlay {
  position: absolute;
  top: 0px; left: 0px; bottom: 0px; right: 0px;
  width: 100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  z-index: 1;
}
.wp-hero .wp-jumbotron .wp-hero-container {
  position: relative;
  z-index: 2;
}
.wp-hero .wp-jumbotron .wp-hero-container .wp-hero-content {
  color: #FFF;
}
